<header>
  <div class="row">
  	<div class="large-12 columns">
  		<h1>Welcome!</h1>
			<h4>I&apos;m communicating ideas and interests. Pull up a chair.</h4>
  	</div>
  </div>
</header>
<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <p>Pleased to meet you! I&apos;m Ashley. I created this website using Foundation, Ruby on Rails, PostgreSQL and Heroku. I graduated with a BSc(Hons) Computing degree in Dec 2014. I'm currently working as a data analyst for a G15 housing association.</p>
		<p>This website is under construction!! Check back here for more content over time.</p>
  </div>
  <div class="medium-6 large-4 columns" id="self_portrait"></div>
</div>
<hr>
<div class="row">
     
              <div class="large-12 columns">
              <h4>Projects &amp; Proposals</h4>
							<p>These are some of the things I&apos;m working on, or have worked on, in the last few months. The projects are in the early stages. Click the images to go to GitHub, or go to the Projects page for more information.</p>
            	</div>
     
              <div class="large-3 small-6 columns left"><a href="https://www.github.com/ashleylester/tsarchessfx" target="_blank">
                <img src="<%= asset_path("tsarchess.jpg") %>"></a>
                <div class="panel">
                  <p>TsarChess is a chess client for games analysis and remote play written in Java FX.</p>
                </div>
              </div>
     
              
     
            </div>
<hr>
